body{
    background-color: lightgray;
}
select{
    border: 5px solid gray;
}
#comments_box{
    border: 5px solid gray;
    height: 200px;
    width: 400px;
}
#submit_box{
    border: 5px solid gray; 
}
body{
    text-align: center;
}
body{
    font-family: 'Fredoka One', cursive;
}